@charset "UTF-8";

/************************************************************************
*	CSS information														*
*	file name  :  base.css												*
*	style info :  要素ごとのスタイルの設定								*												
************************************************************************/
/*--------------------
		INDEX
----------------------
	::Elements
	::Link
====================================================================== */



/* ------------------------------------------------------
	::Elements
------------------------------------------------------ */
body {
	font:14px/1.75 Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}



/* ------------------------------------------------------
	::Link
------------------------------------------------------ */
a {
	color: #313838;
	text-decoration: none;
}

a:visited {
	color: #313838;
}

a:hover, a:active {
	text-decoration: underline;
}

a:hover img.imgover {
	filter: alpha(opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;
}