@charset "UTF-8";

/************************************************************************
*	CSS information														*
*	file name  :  common.css											*
*	style info :  共通スタイルの設定									*												
************************************************************************/

@import "common/normalize.css"; /* ブラウザスタイルの初期化 */
@import "common/module.css"; /* 汎用クラス */
@import "common/base.css"; /* 要素ごとのスタイルの設定 */
@import "jquery.fs.naver.css"; /* Toggleメニューの設定 */

/*----------------------------------------------
	Basic Elements
----------------------------------------------*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	min-width: 1280px;
	word-break: break-all;
}

h1 {
	margin: 0;
	line-height: 0;
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h2 {
	margin: 0;
	line-height: 1;
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h3 {
	margin: 0;
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h4 {
	margin: 0;
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

dl {
	margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

dt {
	margin: 0;
}

dd {
	margin: 0;
}

.hover a:hover img {
	opacity:0.75;
	filter:alpha(opacity=75);
	-ms-filter: “alpha( opacity=75 )”;
}
.wrapper {
	width: 1280px;
	margin: 0 auto;
}
#contents {
	text-align: left;
	margin: 0 30px;
}
.Forlink a:hover  {
	opacity:0.75;
	filter:alpha(opacity=75);
	-ms-filter: “alpha( opacity=75 )”;
}

/*----------------------------------------------
	Header
----------------------------------------------*/
header {
	height: 77px;
	position: relative;
}
header h1 {
	position: absolute;
	top:16px;
	left: 17px;
}


/*----------------------------------------------
	Navigation
----------------------------------------------*/
#gnav {
	position: absolute;
	top: 9px;
	right: 0;
}
#gnav ul {
	width: 785px;
	height: 58px;
}
#gnav ul li {
	float: left;
    display: block;
}
#gnav ul li a {
    display: block;
    text-indent: -9999px;
}
#gnav ul li#Gnav_01 a {
    background: url(../img/common/Gnavi01.gif) no-repeat right top;
	width: 133px;
    height: 58px;
}
#gnav ul li#Gnav_02 a {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi02.gif) no-repeat right top;
}
#gnav ul li#Gnav_02 a.chosen {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi02_mo.gif) no-repeat right top;
}
#gnav ul li#Gnav_03 a {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi03.gif) no-repeat right top;
}
#gnav ul li#Gnav_03 a.chosen {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi03_mo.gif) no-repeat right top;
}
#gnav ul li#Gnav_04 a {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi04.gif) no-repeat right top;
}
#gnav ul li#Gnav_04 a.chosen {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi04_mo.gif) no-repeat right top;
}
#gnav ul li#Gnav_05 a {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi05.gif) no-repeat right top;
}
#gnav ul li#Gnav_05 a.chosen {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi05_mo.gif) no-repeat right top;
}
#gnav ul li#Gnav_06 a {
	width: 124px;
    height: 58px;
    background: url(../img/common/Gnavi06.gif) no-repeat right top;
}
#gnav ul li#Gnav_06 a.chosen {
	width: 124px;
    height: 58px;
    background: url(../img/common/Gnavi06_mo.gif) no-repeat right top;
}

#gnav ul li#Gnav_01 a:hover {
	width: 133px;
    height: 58px;
    background: url(../img/common/Gnavi01_mo.gif) no-repeat right top;
}
#gnav ul li#Gnav_02 a:hover {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi02_mo.gif) no-repeat right top;
}
#gnav ul li#Gnav_03 a:hover {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi03_mo.gif) no-repeat right top;
}
#gnav ul li#Gnav_04 a:hover {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi04_mo.gif) no-repeat right top;
}
#gnav ul li#Gnav_05 a:hover {
	width: 132px;
    height: 58px;
    background: url(../img/common/Gnavi05_mo.gif) no-repeat right top;
}
#gnav ul li#Gnav_06 a:hover {
	width: 124px;
    height: 58px;
    background: url(../img/common/Gnavi06_mo.gif) no-repeat right top;
}

/*----------------------------------------------
	Footer
----------------------------------------------*/
footer .inner {
	margin: 0 30px;
	text-align: left;
}
p.pageTop {
	text-align: right;
	margin: 40px 0 30px;
	border-bottom: 1px solid #929292;
	padding:11px 0 25px;
}
footer nav ul {
	float: left;
}
footer nav ul.fnav01 {
	width: 240px;
}
footer nav ul.fnav02 {
	width: 200px;
}
footer nav ul.fnav03 {
	width: 200px;
}
footer nav li {
	background: url(../img/common/arrow_nr.gif) no-repeat 0 2px;
	padding-left: 25px;
	margin-bottom: 18px;
}
footer nav li a {
	text-decoration: none;
	color: #464646;
}
footer nav li a:hover {
	color: #adadf9;
}
footer .about {
	width: 390px;
}
footer .copy {
	padding:20px 0 18px;
	margin-top: 35px;
	text-align: center;
	background: url(../img/common/bg_footer.gif) repeat-x top;
}

/*----------------------------------------------
	Information
----------------------------------------------*/
#info {
	width: 1024px;
	margin: 0 auto;
}
#info dl dt {
	padding: 3px 5px 3px 30px;
	margin-bottom: 0.5em;
	width: 456px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
#info dl dt#announce {
	background: #c8b9a6 url(../img/common/info_icon01.gif) no-repeat 5px 50%;
}
#info dl dt#contact {
	background: #c8b9a6 url(../img/common/info_icon02.gif) no-repeat 7px 50%;
}
#info dl dd {
	margin-bottom: 2em;
	font-size: 14px;
}
#info dl dd em {
	font-weight: bold;
	font-style: normal;
}
#info dl dd span {
	line-height: 1em;
	color: #272777;
	font-size: 18px;
	font-weight: bold;
}	


/* SmartPhoneにのみ適応 */

@media screen and (max-width: 480px){

html, body {
	height: 100%;
	min-width: 320px;
	position: relative;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
#contents {
	margin: 0;
}

/*----------------------------------------------
	Header
----------------------------------------------*/
header {
	height: 40px;
	position: relative;
}
header h1 {
	position: absolute;
	top:10px;
	left: 10px;
}
header h1 img {
	width: 204px;
	height: auto;
}

/*----------------------------------------------
	Navigation
----------------------------------------------*/
#gnav {
	width: 20px;
	height:20px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 9999999;
}
#gnav nav {
	padding-top: 0;
	margin-left: 0;
}
#gnav .naver-wrapper {
	width: 320px;
	position: absolute;
	right: -8px;
	top:30px;
}
.mainMenu {
}
.mainMenu li {
	text-align: left;
	padding: 0;
	width: 320px;
	text-indent: 0;
	padding: 0 16px;
	background: rgba(255,255,255,0.9);
}
.mainMenu li a {
	display: block;
	border-bottom: 1px solid #919191;
}
#gnav li a:hover {
}

#gnav ul li#Gnav_01 a,#gnav ul li#Gnav_01 a:hover {
    background: url(../img/common/Gnavi01_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
}
#gnav ul li#Gnav_01 a.chosen {
    background: url(../img/common/Gnavi01_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
}
#gnav ul li#Gnav_02 a,#gnav ul li#Gnav_02 a:hover {
    background: url(../img/common/Gnavi02_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
}
#gnav ul li#Gnav_02 a.chosen {
    background: url(../img/common/Gnavi02_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
}
#gnav ul li#Gnav_03 a,#gnav ul li#Gnav_03 a:hover {
    background: url(../img/common/Gnavi03_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
}
#gnav ul li#Gnav_03 a.chosen {
    background: url(../img/common/Gnavi03_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
}
#gnav ul li#Gnav_04 a,#gnav ul li#Gnav_04 a:hover {
    background: url(../img/common/Gnavi04_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
}
#gnav ul li#Gnav_04 a.chosen {
    background: url(../img/common/Gnavi04_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
}
#gnav ul li#Gnav_05 a,#gnav ul li#Gnav_05 a:hover {
    background: url(../img/common/Gnavi05_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
}
#gnav ul li#Gnav_05 a.chosen {
    background: url(../img/common/Gnavi05_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
}
#gnav ul li#Gnav_06 a,#gnav ul li#Gnav_06 a:hover {
    background: url(../img/common/Gnavi06_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
	border-bottom: none;
}
#gnav ul li#Gnav_06 a.chosen {
    background: url(../img/common/Gnavi06_sp.png) no-repeat right top;
	background-size: 288px auto;
	width: 288px;
	height: 32px;
	border-bottom: none;
}

/*----------------------------------------------
	Information
----------------------------------------------*/
#info {
	width: 300px;
	margin: 0 auto;
}
#info dl dt {
	padding: 3px 5px 3px 30px;
	margin-bottom: 0.5em;
	width: 100%;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
#info dl dt#announce {
	background: #c8b9a6 url(../img/common/info_icon01.gif) no-repeat 5px 50%;
}
#info dl dt#contact {
	background: #c8b9a6 url(../img/common/info_icon02.gif) no-repeat 7px 50%;
}
#info dl dd {
	margin-bottom: 2em;
	font-size: 14px;
}
#info dl dd em {
	font-weight: bold;
	font-style: normal;
}
#info dl dd span {
	line-height: 1em;
	color: #272777;
	font-size: 18px;
	font-weight: bold;
}

/*----------------------------------------------
	Title
----------------------------------------------*/

h2 img {
	width: 320px;
}

/*----------------------------------------------
	Footer
----------------------------------------------*/
footer .inner {
	margin: 0 8px;
}
p.pageTop {
	margin: 0 0 20px;
	padding:18px 0 11px;
}
p.pageTop img {
	width: 28px;
	height: auto;
}
footer h4 img {
	width: 240px;
	height: auto;
}
footer .about {
	width: 100%;
}
footer .copy {
	padding:5px 0 10px;
	margin-top: 35px;
	font-size: 8px;
	background-size: auto 2px;
}
footer .copy img {
	width: 300px;
	height: auto;
}


/***** 20150723追記 ******/

.Forlink{
	text-align: right;
}

}


@media print {

html, body {
	height: 100%;
	width: 100%;
	min-width: 100%;
	word-break: break-all;
}

body{
	font-size: 14pt;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

#info dl dt {
	padding: 3px 5px 10px 0px;
	margin-bottom: 1em;
	width: 100%;
	color: #A58B6B;
	border-bottom: 1px solid #A58B6B;
	font-size: 18pt;
	font-weight: bold;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}


}