@charset "UTF-8";

/************************************************************************
*	CSS information																												*
*	file name  :  contents.css																							*
*	style info :  下層ページのスタイル設定																*												
************************************************************************/

/*----------------------------------------------
	Common Elements
----------------------------------------------*/


/* SmartPhoneにのみ適応 */

@media screen and (max-width: 480px){
}

/*----------------------------------------------
	Top
----------------------------------------------*/
.top_page .wrapper {
	width: 100%;
}
.top_page header {
	width: 1280px;
	margin: 0 auto;
}
.top_page #contents {
	width: 1220px;
	margin: 0 auto;
}
.top_page footer {
	width: 1280px;
	margin: 0 auto;
}
#mainVisual {
	width: 100%;
	height: 700px;
	margin: 0 auto;
	position: relative;
	background: url(../img/common/bg_footer.gif) repeat-x bottom;
}

#mainVisual_print{
	display: none;
}

.bgfade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 696px;
}
.bgfade.main01 {
	background: url(../img/top/main_01.jpg) no-repeat center center;
	background-size: cover;
}
.bgfade.main02 {
	background: url(../img/top/main_02.jpg) no-repeat center center;
	background-size: cover;
}
.bgfade.main03 {
	background: url(../img/top/main_03.jpg) no-repeat center center;
	background-size: cover;
}
#mainVisual .title1,
#mainVisual .title2 {
	position: absolute;
}
#mainVisual .title1 {
	right: 250px;
	bottom:69px;
}
#mainVisual .title2 {
	right: 30px;
	bottom:19px;
}
.information {
	height: 188px;
}
.information h3.ttl {
	float: left;
	width: 106px;
	line-height: 0;
}
.information .list {
	float: left;
	height: 188px;
	border-left: 2px solid #D8D8D8;
	padding-bottom: 0;
}
.information .list a {
	text-decoration: none;
}
.information .list a:hover {
	text-decoration: underline;
}
.information .list dl {
	margin-left: 16px;
	border-bottom: 1px solid #D8D8D8;
}
.information .list dt,.information .list dd {
	float:left;
	padding: 7px 0 6px;
}
.information .list dd.date {
	width: 77px;
}
.information .list dd.new {
	width: 47px;
	margin-top: 2px;
}
.information .list dt {
	width: 330px;
}
.information .list a {
	text-decoration: none;
}
.information .list a:hover {
	text-decoration: underline;
}
.bnArea {
	width: 612px;
}
.bnArea ul li {
	float: left;
	margin-left: 16px;
}

/* SmartPhoneにのみ適応 */
@media screen and (max-width: 480px){
.top_page header {
	width: 100%;
}
.top_page header {
	width: 100%;
}
.top_page #contents {
	width: 100%;
}
.top_page footer {
	width: 100%;
}
#mainVisual {
	height: 529px;
	background: none;
	border-bottom: 1px solid #000;
	margin-bottom: 14px;
}
.bgfade {
	height: 529px;
}
#mainVisual .title1 {
	height: 26px;
	width: auto;
}
#mainVisual .title2 {
	height: 28px;
	width: auto;
}
#mainVisual .title1 {
	right: 122px;
	bottom:82px;
}
#mainVisual .title2 {
	right: 11px;
	bottom:57px;
}
#mainVisual .nextBtn img {
	width: 22px;
	height: auto;
}
#mainVisual .nextBtn {
	position: absolute;
	left: 0;
	bottom: 9px;
	text-align: center;
	width: 100%;
}
.bnArea {
	width: 320px;
	margin: 0 auto;
}
.bnArea ul li {
	float: left;
	margin: 0 6px 8px 8px;
}
.bnArea ul li img {
	width: auto;
	height: 145px;
}
.information {
	margin:30px 8px 0;
}
.information h3.ttl {
	float: none;
	width: auto;
	line-height: 0;
	padding-bottom: 12px;
	border-bottom: 2px solid #D8D8D8;
}
.information .list {
	float: none;
	border-left: none;
	padding-bottom: 10px;
}
.information .list dl {
	margin-left: 0;
	border-bottom: 1px solid #D8D8D8;
	padding: 8px 0 6px;
}
.information .list dt,.information .list dd {
	float:left;
	padding: 0;
}
.information .list dd.date {
	width: 77px;
	color: #919191;
}
.information .list dd.new {
	width: 47px;
	margin-top: 2px;
}
.information .list dt {
	width: 300px;
}
}


/*----------------------------------------------
	Line up
----------------------------------------------*/
#lineup_wrapper {
	width: 1280px;
	margin-top: 30px;
	position: relative;
}
#lineups {
	float: left;
	width: 744px;
	padding-left: 128px;
	margin-top: 30px;
}
#area_select {
	width: 240px;
	position: absolute;
	top: 0px;
	right: 42px;
	padding-top: 30px;
}
#area_select dl {
	width: 240px;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #d5cbbf;
}
#area_select dl dt {
	height: 47px;
	line-height: 47px;
	padding-left: 1em;
	color: #fff;
	background: url(../img/lineup/area_dt.jpg) no-repeat top right;
}
#area_select dl dd ul li {
	height: 40px;
	line-height: 40px;
	background: url(../img/lineup/area_dd02_bg.gif) repeat-x;
}
#area_select dl dd ul li a {
	display: block;
	padding-left: 1em;
	color: #969696;
	text-decoration: none;
}
#area_select dl dd ul li#area_top {
	background: url(../img/lineup/area_dd01_bg.gif) repeat-x;
}
#area_select dl dd ul li#area_top a {
	color: #fff;
}
#area_select dl dd ul li#area_top a {
	color: #fff;
}

#area_select dl dd ul li a:hover {
	background: url(../img/lineup/area_dd01.jpg) no-repeat top right;
	color: #ffffff;
}

#area_select_sp{
	display: none;
}

#lineups section {
	width: 804px;
	margin-bottom: 50px;
	margin-top: -30px;
	padding-top: 30px;
}
#lineups h3 {
	margin-bottom: 15px;
	padding: 0.25em 1em;
	color: #fff;
	font-size: 20px;
	background-color: #c8b9a6;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.lineup_list {
	width: 804px;
	height: auto;
	column-width: 240px;
	padding-top: 1px;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	-o-column-count: 3;
	-ms-column-count: 3;
	column-count: 3;
	-moz-column-gap: 27px;
	-webkit-column-gap: 27px;
	column-gap: 27px;
	background: url(../img/lineup/list_bg.png) no-repeat top left;
}
.lineup_list dl {
	width: 250px;
}
.lineup_list dl dt {
	height: 55px;
	padding: 3px 5px;
	font-size: 16px;
	font-weight: bold;
	color: #272777;
	background-color: #c7b8a4;
	border-bottom: 1px solid #8f8f8f;
}

.lineup_list dl dd ul li {
	display: table;
	width: 250px;
	height: 55px;
	padding: 6px 5px 3px;
	font-size: 16px;
	border-bottom: 1px solid #8f8f8f;
	line-height: 1.2;
}

.lineup_list dl dd ul li div{
	display: table-cell;
	vertical-align: middle;
}

#lineups p {
	width: 804px;
	font-size: 16px;
	text-align: right;
}


/* SmartPhoneにのみ適応 */

@media screen and (max-width: 480px){

#lineup_wrapper {
	width: 300px;
	margin: 0 auto;
}
#lineups {
	float: none;
	width: 300px;
	padding-left: 0;
}
#area_select {
	display: none;
	width: 300px;
	float: none;
	margin-right: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}
#area_select dl {
	width: 298px;
}
#area_select dl dt {
	width: 100%;
	height: 47px;
	line-height: 47px;
	padding-left: 1em;
	color: #fff;
	background: url(../img/lineup/area_dt_bg.gif) repeat-x;
}
#area_select dl dd ul li#area_top {
	background: url(../img/lineup/area_dd02_bg.gif) repeat-x;
}
#area_select dl dd ul li#area_top a {
	color: #969696;
}

#area_select dl dd ul {
	font-size: 0;
	text-align: center;
	letter-spacing: -40em;
	margin: 0;
}
#area_select dl dd ul li a {
	font-size: 12px;
	margin-left: 0;
	letter-spacing: normal;
}
#area_select dl dd ul li {
	display: inline-block;
	width: 73px;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	white-space: 0;
	background: url(../img/lineup/area_dd02_bg.gif) repeat-x;
	border-right: 1px solid #d5cbbf;
}
#area_select dl dd ul li:last-child {
	width: 74px;
	border-right: none;
}

#area_select_sp {
	display: block;
	width: 300px;
	float: none;
	margin-right: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}
#area_select_sp dl {
	width: 298px;
}
#area_select_sp dl dt {
	width: 100%;
	height: 47px;
	line-height: 47px;
	padding-left: 1em;
	color: #fff;
	background: url(../img/lineup/area_dt_bg.gif) repeat-x;
}
#area_select_sp dl dd ul li#area_top {
	background: url(../img/lineup/area_dd02_bg.gif) repeat-x;
}
#area_select_sp dl dd ul li#area_top a {
	color: #969696;
}

#area_select_sp dl dd ul {
	font-size: 0;
	text-align: center;
	letter-spacing: -40em;
	margin: 0;
}
#area_select_sp dl dd ul li a {
	font-size: 12px;
	margin-left: 0;
	letter-spacing: normal;
}
#area_select_sp dl dd ul li {
	display: inline-block;
	width: 73px;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	white-space: 0;
	background: url(../img/lineup/area_dd02_bg.gif) repeat-x;
	border-right: 1px solid #d5cbbf;
}
#area_select_sp dl dd ul li:last-child {
	width: 74px;
	border-right: none;
}

#lineups section {
	width: 300px;
	margin-bottom: 50px;
}
#lineups h3 {
	margin-bottom: 15px;
	padding: 0.25em 1em;
	color: #fff;
	font-size: 20px;
	background-color: #c8b9a6;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.lineup_list {
	width: 300px;
	column-width: 90px;
	padding-top: 1px;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	-o-column-count: 3;
	-ms-column-count: 3;
	column-count: 3;
	-moz-column-gap: 10px;
	-webkit-column-gap: 10px;
	column-gap: 10px;
	background: url(../img/lineup/list_bg_sp.gif) no-repeat top left;
}
.lineup_list dl {
	width: 90px;
}
.lineup_list dl dt {
	padding: 3px 5px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 9px;
	font-weight: bold;
	color: #272777;
	background-color: #c7b8a4;
	border-bottom: 1px solid #8f8f8f;
}
.lineup_list dl dd ul li {
	width: 90px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 8px;
}
#lineups p {
	width: 300px;
	font-size: 16px;
	text-align: right;
}
}
/*----------------------------------------------
	Concept
----------------------------------------------*/
#concept section {
	width: 1024px;
	margin: 0 auto;
	padding: 30px 0 50px 0;
	border-bottom: 1px solid #c7c7c7;
}

#concept section h3.hidden_sp{
	text-align: center;
}

#concept section p#reverse {
	font-size: 16px;
	font-weight: bold;
	margin: 1em 0 2em 0;
	text-align: center;
}
#concept section p {
	font-size: 14px;
	margin: 1em 0 2em 0;
}
#concept section ol {
	text-align: center;
	margin: 0 auto;
}
#concept section ol li#concept_flow {
	display: inline;
	padding: 8px 12px;
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	background-color: #272878;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
#concept section #concept01_L {
	float: left;
	width: 652px;
}
#concept section #concept01_R {
	float: right;
	width: 244px;
	margin: 0;
}
#concept section #concept02_L {
	float: left;
	width: 744px;
}
#concept section #concept02_L p {
	width: 652px;
}
#concept section #concept02_R {
	float: right;
	width: 257px;
	margin: 0;
}
#concept section #concept02_R p {
	font-size: 13px;
}
#concept section#info {
	padding-bottom: 0;
	border-bottom: none;
}
#concept section#info dt {
	width: 600px;
}

#concept section#info dd.mail-add div{
	margin: 8px 0 4px 5px;
	font-size: 16px;
	color: #282878;
	font-weight: bold;
}

#concept section#info dd.mail-add div a{
	text-decoration: none;
}


/* SmartPhoneにのみ適応 */
@media screen and (max-width: 480px){

#concept section {
	width: 300px;
}
#concept h3 img {
	width: 300px;
}
#concept ol {
	width: 300px;
	margin: 0 auto;
	padding: 0;
}
#concept ol li img {
	width: 300px;
}
#concept section #concept01_L {
	float: none;
	width: 300px;
}
#concept section #concept01_R {
	float: none;
	width: 300px;
	padding: 0;
	margin: 0;
	text-align: center;
}
#concept section #concept01_R img {
	width: 100%;
	margin: 0 auto;
}
#concept section #concept02_L {
	float: none;
	width: 300px;
}
#concept section #concept02_L img {
	width: 300px;
}
#concept section #concept02_L p {
	width:300px;
}
#concept section #concept02_R {
	float: none;
	width: 300px;
}
#concept section#info dt {
	width: 300px;
}
}

/*----------------------------------------------
	Company
----------------------------------------------*/
#company_ttl {
	position: relative;
	margin-bottom: 27px;
}

#company_ttl p {
	position: absolute;
	right: 128px;
	bottom: 26px;
}

#company_ttl a {
	padding: 7px 40px 7px 20px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	background: #292878 url(../img/company/company_icon.gif) no-repeat 100% 50%;
}
#profile {
	width: 1024px;
	margin: 0 auto;
}
#profile dl {
	padding: 12px 0;
	font-size: 16px;
	border-bottom: 1px solid #dfdfdf;
}
#profile dl dt {
	color: #272777;
	font-weight: bold;
	display: inline-block;	
  	float: left;
  	clear: left;
  	width: 110px;
}
#profile dl dd {
  width: 914px;
  padding-left: 110px;
}
#profile dl#map {
	position: relative;
}
#profile dl#map dd p {
	position: absolute;
	right: 0;
	bottom: 2em;
}
#profile dl#map dd p a {
	padding: 7px 40px 7px 20px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	background: #292878 url(../img/company/company_icon.gif) no-repeat 100% 50%;
}
#profile dl dd ul#business li {
	display: inline;
	margin-right: 1em;
}
#profile dl#graph {
	border-bottom: none;
}
#profile dl#graph dt {
	width: 1024px;
	margin-bottom: 1em;
	float: none;
  	clear: none;
	font-size: 24px;
	font-weight: bolder;
}
#profile dl#graph dt span {
	font-size: 16px;
}
#profile dl#graph dd {
	width: 1024px;
    padding-left: 0;
}

/* SmartPhoneにのみ適応 */

@media screen and (max-width: 480px){
#company_ttl {
	position: relative;
	margin-bottom: 0;
	width: 100%;
}
#company_ttl p {
	position: absolute;
	right: 10px;
	bottom: 16px;
}
#company_ttl a {
	padding: 7px 40px 7px 20px;
	color: #fff;
	font-size: 9px;
	text-decoration: none;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	background: #292878 url(../img/company/company_icon.gif) no-repeat 100% 50%;
}
#profile {
	width: 300px;
	margin: 0 auto;
}
#profile dl {
	padding: 2em 0;
	font-size: 16px;
	border-bottom: 1px solid #dfdfdf;
}
#profile dl dt {
	color: #272777;
	font-weight: bold;
	display: block;	
  	float: none;
  	clear: none;
  	width: 100%;
}
#profile dl dd {
  width: 100%;
  padding-left: 0;
}
#profile dl#map dd p {
	position: relative;
	padding-top: 10px;
}
#profile dl#map dd p a {
	padding: 7px 40px 7px 20px;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	background: #292878 url(../img/company/company_icon.gif) no-repeat 100% 50%;
}
#profile dl dd ul#business li {
	display: block;
	margin-right: 0;
}
#profile dl#graph {
	border-bottom: none;
}
#profile dl#graph dt {
	width: 100%;
	margin-bottom: 1em;
	float: none;
  	clear: none;
	font-size: 24px;
	font-weight: bolder;
}
#profile dl#graph dt span {
	font-size: 16px;
}
#profile dl#graph dd {
	width: 100%;
    padding-left: 0;
}
#profile dl#graph dd img {
	width: 100%;
}
}

/*----------------------------------------------
	Philosophy
----------------------------------------------*/
#philosophy {
	width: 780px;
	margin: 3em auto;
}
#philosophy p {
	margin-bottom: 2em;
	text-indent: 1em;
	font-size: 20px;
	line-break: strict;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
#philosophy p#signature {
	text-align: right;
}

/* SmartPhoneにのみ適応 */

@media screen and (max-width: 480px){

#philosophy {
	width: 300px;
	margin: 3em auto;
}
#philosophy p {
	margin-bottom: 2em;
	text-indent: 1em;
	font-size: 20px;
	line-break: strict;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
#philosophy p#signature {
	width: 100%;
	text-align: right;
}
#philosophy p#signature img {
	width: 70%;
}
}
/*----------------------------------------------
	Recruit
----------------------------------------------*/
#recruit_wrapper {
	width: 1024px;
	min-height: 1119px;
	margin: 0 auto 40px;
	padding-bottom: 10px;
	background: url(../img/recruit/recruit_img.jpg) no-repeat 100% 0;
	border-bottom: 1px solid #e3e3e3;
}
#recruit {
	width: 669px;
}
#recruit p {
	margin: 2em 0 3em 0; 
	font-size: 16px;
}
#recruit dl {
	margin-bottom: 45px;
	padding-bottom: 75px;
	border-bottom: 1px solid #e3e3e3;
}
#recruit dl#last_section {
	border-bottom: none;
}
#recruit dl dt {
	display: inline-block;
	margin-bottom: 20px;
	padding: 0.1em 0.5em 0.1em 1em;
	color: #fff;
	letter-spacing: 0.5em; 
	font-size: 24px;
	font-weight: bold;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	background-color: #292878;
}
#recruit dl dd {
	font-size: 16px;
}

@media screen and (max-width: 480px){
#recruit_wrapper {
	width: 300px;
	min-height: 0;
	margin: 0 auto 40px;
	padding-bottom: 10px;
	background: none;
	border-bottom: 1px solid #e3e3e3;
}
#recruit {
	width: 300px;
}
#recruit p {
	margin: 2em 0 3em 0; 
	font-size: 16px;
}
#recruit dl {
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e3e3e3;
}
#recruit dl dd img{
	width: 80%;
}
#recruit dl#last_section {
	border-bottom: none;
}
#recruit dl dt {
	display: inline-block;
	margin-bottom: 10px;
	padding: 0.1em 0.5em 0.1em 1em;
	color: #fff;
	letter-spacing: 0.5em; 
	font-size: 18px;
	font-weight: bold;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	background-color: #292878;
}
#recruit dl#last_section dd img {
	width: 70%;
}
#recruit dl dd {
	font-size: 16px;
}
p#spimg {
	width: 300px;
	margin: 0 auto 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e3e3e3;
}
p#spimg img {
	width: 300px;
}
}
/*----------------------------------------------
	Recruit2
----------------------------------------------*/
#recruit2 {
	width: 669px;
}
#recruit2 dl {
	padding: 2em 0;
	font-size: 16px;
	border-bottom: 1px solid #dfdfdf;
}
#recruit2 dl dt {
	color: #272777;
	font-weight: bold;
	display: inline-block;	
  	float: left;
  	clear: left;
  	width: 110px;
}
#recruit2 dl dd {
  width: 559px;
  padding-left: 110px;
}
#recruit2 dl#last_section {
	border-bottom: none;
}

@media screen and (max-width: 480px){
#recruit2 {
	width: 300px;
}
#recruit2 dl {
	padding: 2em 0;
	font-size: 16px;
	border-bottom: 1px solid #dfdfdf;
}
#recruit2 dl dt {
	display: block;	
  	float: none;
  	clear: none;
  	width: 100%;
}
#recruit2 dl dd {
  width: 100%;
  padding-left: 0;
}
#recruit2 dl#last_section {
	border-bottom: none;
}
}
/*----------------------------------------------
	Gallery
----------------------------------------------*/
#gallery_wrapper {
	width: 100%;
	margin: 0 auto;
}
#gallery_wrapper header,
#gallery_wrapper h2,
#gallery_wrapper footer {
	width: 1280px;
	margin: 0 auto;
}
#gallery {
	width: 1024px;
	margin: 36px auto 0;
}
#gallery dl {
	margin-bottom: 50px;
	padding-bottom: 58px;
	border-bottom: 1px solid #c0c0c0;
}
#gallery dl#last_section {
	border-bottom: none;
}
#gallery dl dt {
	float: left;
	clear: both;
	width: 120px;
}
#gallery dl dd {
	width: 904px;
	margin-left: 132px;
	font-size: 14px;
}
#gallery dl dd img {
	margin-top: 8px;
	margin-bottom: 8px;
}
#gallery dl dd.img_area {
	width: 1024px;
	margin-top: 46px;
	margin-left: 0;
}
#gallery dl dd.img_area img {
	margin-top: 0;
	margin-bottom: 0;
}

#gallery dl dd.img_area li.li01{
	float: left;
	margin: 0 16px 0 0;
}

#gallery dl dd.img_area li.li02{
	float: left;
	margin: 0 16px 10px 0;
}

#gallery dl dd.img_area li.li03{
	float: left;
	margin: 0 0 10px 0;
}

#gallery dl dd.img_area li.li04{
	float: left;
	margin: 0 16px 10px 0;
}

#gallery dl dd.img_area li.li05{
	float: left;
	margin: 0 0 10px 0;
}

#gallery dl dd.img_area li.li06{
	float: left;
	margin: 0 16px 0 0;
}

#gallery dl dd.img_area li.li07{
	float: left;
	margin: 0 0 0 0;
}


#gallery_wrapper h3 {
	width: 1024px;
	margin: 0 auto;
}
#past_records {
	width: 100%;
	padding-top: 24px;
	background-color: #eeede8;
}
#inner_past_records {
	width: 1045px;
	height: 100%;
	margin: 0 auto 50px;
}
#past_records ul {
	line-height: 0;
	font-size: 0;
}
#past_records ul li {
	float: left;
	width: 188px;
	margin-right: 21px;
	margin-bottom: 18px;
	cursor: pointer;
}
#past_records ul li a:hover img {
	opacity:0.75;
	filter:alpha(opacity=75);
	-ms-filter: “alpha( opacity=75 )”;
}
#bnr_area {
	width: 1024px;
	margin: 0 auto;
}

.absolute {
    position: absolute;
}
.center {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.centerY {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.f_lb_modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    display: none;
}
.f_caption {
    position: absolute;
    width: auto;
    height: auto;
    color: white;
}
.close_btn {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.close_btn img {
    max-width: 100%;
    height: auto;
}

.f_next_btn {
    position: absolute;
    top: 50%;
    right: 22%;
    width: 20px;
    height: 38px;
    background-image: url("../img/gallery/right_arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.f_prev_btn {
    position: absolute;
    top: 50%;
    left: 22%;
    width: 20px;
    height: 38px;
    background-image: url("../img/gallery/left_arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 480px){
#gallery_wrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
#gallery_wrapper header,
#gallery_wrapper h2,
#gallery_wrapper footer {
	width: 100%;
	margin: 0 auto;
}
#gallery_wrapper h2 img {
	width: 100%;
}
#gallery {
	width: 300px;
	margin: 36px auto 0;
}
#gallery dl {
	width: 300px;
}
#gallery dl dt {
	float: left;
	clear: both;
	width: 120px;
}
#gallery dl dd {
	width: 170px;
	margin-left: 130px;
	padding-top: 40px;
}
#gallery dl dd img {
	width: 100%;
}
#gallery dl dd.txt_area  {
	width: 300px;
	margin-left: 0;
	padding-top: 60px;
}
#gallery dl dd.img_area {
	width: 300px;
	margin: 10px auto 0;
}

#gallery dl dd.img_area li.li01{
	float: left;
	margin: 0 0 10px 0;
}

#gallery dl dd.img_area li.li02{
	float: left;
	width: 48%;
	margin: 0 0 10px 0;
}

#gallery dl dd.img_area li.li03{
	float: right;
	width: 48%;
	margin: 0 0 10px 0;
}

#gallery dl dd.img_area li.li04{
	float: left;
	width: 48%;
	margin: 0 0 10px 0;
}

#gallery dl dd.img_area li.li05{
	float: right;
	width: 48%;
	margin: 0 0 10px 0;
}

#gallery dl dd.img_area li.li06{
	float: left;
	width: 48%;
	margin: 0 0 0 0;
}

#gallery dl dd.img_area li.li07{
	float: right;
	width: 48%;
	margin: 0 0 0 0;
}



#gallery_wrapper h3 {
	width: 300px;
	margin: 0 auto;
}
#gallery_wrapper h3 img {
	width: 300px;
}
#past_records {
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	padding-top: 24px;
	background-color: #eeede8;
}
#inner_past_records {
	width: 300px;
	margin: 0 auto 10px;
}
#past_records ul {
	line-height: 0;
	font-size: 0;
}
#past_records ul li {
	float: left;
	width: 90px;
	margin-right: 10px;
	margin-bottom: 18px;
}
#past_records ul li img {
	width: 90px;
}
#past_records ul li a:hover img {
	opacity:0.75;
	filter:alpha(opacity=75);
	-ms-filter: “alpha( opacity=75 )”;
}
#bnr_area {
	width: 300px;
	margin: 0 auto;
}
#bnr_area img {
	width: 300px;
}
.f_next_btn {
	width: 42px;
    height: 80px;
}
.f_prev_btn {
	width: 42px;
    height: 80px;
}
}

/*----------------------------------------------
	SP
----------------------------------------------*/
.sp .ttlArea {
	background: url(../img/sp/bg_ttl.jpg) right top no-repeat #000;
	width: 1280px;
}
.sp .ttlArea {
	padding-left: 124px;
}
.sp .ttlArea nav ul {
	padding: 80px 0 46px;
}
.sp .ttlArea nav ul li {
	float: left;
	margin: 0 6px;
}
.sp .next {
	position: absolute;
	bottom: 24px;
}
.sp .txtArea .txt01 {
	margin-top: 25px;
}
.sp .txtArea .txt02 {
	margin-top: 48px;
}
.sp .page1,.sp .page2,.sp .page3,.sp .page4,.sp .page5 {
	position: relative;
	height: 840px;
	width: 1280px;
}
.sp .page1 .txtArea,.sp .page2 .txtArea,.sp .page3 .txtArea {
	position: absolute;
	left: 128px;
	top: 84px;
}
.sp .page1 .imgArea,.sp .page3 .imgArea {
	background: rgba(0,0,0,0.6);
	position: absolute;
	top:559px;
	left: 0;
	width: 100%;
}
.sp .page1 .imgArea ul,.sp .page3 .imgArea ul {
	padding-left: 128px;
}
.sp .page1 .imgArea ul li,.sp .page3 .imgArea ul li {
	float: left;
	margin: 12px 12px 6px 0;
}

.sp .page1 {
	background: url(../img/sp/bg_01.jpg) no-repeat center top #000;
}
.sp .page2 {
	background: url(../img/sp/bg_02.jpg) no-repeat center top #000;
}
.sp .page3 {
	background: url(../img/sp/bg_03.jpg) no-repeat center top #000;
}
.sp .page4 {
	height: 1070px;
}
.sp .page4 .txtArea {
	position: absolute;
	top:640px;
	left: 128px;
}
.sp .page4 .imgArea {
	position: absolute;
	top:0;
	left: 0;
}
.sp .page4 .imgArea ul li {
	float: left;
}
.sp .page5 {
	height: 1225px;
}
.sp .page5 .txtArea {
	margin-top: 35px;
	text-align: center;
}
.sp .page5 .imgArea {
	margin-top: 50px;
}
.sp nav.pnav {
	position: absolute;
	top:36px;
	right: 42px;
}

/* SmartPhoneにのみ適応 */

@media screen and (max-width: 480px){
.sp article {
	width: 320px;
	margin: 0 auto;
}
.sp .ttlArea {
	background: url(../img/sp/bg_ttl_sp.jpg) right top no-repeat #000;
	background-size: 107px auto;
	width: 320px;
}
.sp .ttlArea {
	padding-left: 0;
}
.sp .ttlArea img {
	width: 320px;
}
.sp .txt02 {
	display: none;
}
.sp .txt03 {
	display: block;
	color: #fff;
	margin-top: 10px;
	font-size: 13px;
}
.sp .page4 .txt03,.sp .page5 .txt03 {
	color: #000;
}
.sp .next {
	bottom: 15px;
}
.sp .next img {
	width: 100%;
	height: auto;
}
.sp .txtArea .txt01 {
	margin-top: 0;
}
.sp .page1 .txtArea,.sp .page2 .txtArea,.sp .page3 .txtArea {
	left: 0;
	top: 21px;
	padding: 0 8px;
}
.sp .page1 .imgArea,.sp .page3 .imgArea {
	top:373px;
	left: 0;
	width: 100%;
}
.sp .page1 .imgArea img,.sp .page3 .imgArea img {
	width: 98px;
	height: auto;
}
.sp .page1 .imgArea ul,.sp .page3 .imgArea ul {
	padding:0 0 0 8px;
}
.sp .page1 .imgArea ul li,.sp .page3 .imgArea ul li {
	float: left;
	margin: 4px 4px 0 0;
}

.sp .page1,.sp .page2,.sp .page3 {
	background-position: center top;
	background-size: auto 529px;
	width: 100%;
	height: 549px;
}
.sp .page4 {
	width: 100%;
	height: 960px;
}
.sp .page4 .txtArea {
	top:610px;
	left: 0;
	padding: 0 8px;
}
.sp .page4 .imgArea img {
	width: 320px;
	height: auto;
}
.sp .page4 .imgArea ul li {
	float: none;
	line-height: 0;
}
.sp .page5 {
	width: 100%;
	height: auto;
}
.sp .page5 .txtArea {
	margin-top: 20px;
}
.sp .page5 .imgArea {
	margin-top: 40px;
}
.sp .page5 .imgArea img {
	width: 320px;
	height: auto;
}
.sp .page1 h3 img {
	width: 163px;
	height: auto;
}
.sp .page1 .txt01 img {
	width: 296px;
	height: auto;
}
.sp .page2 h3 img {
	width: 248px;
	height: auto;
}
.sp .page2 .txt01 img {
	width: 239px;
	height: auto;
}
.sp .page3 h3 img {
	width: 185px;
	height: auto;
}
.sp .page3 .txt01 img {
	width: 248px;
	height: auto;
}
.sp .page4 h3 img {
	width: 157px;
	height: auto;
}
.sp .page4 .txt01 img {
	width: 182px;
	height: auto;
}
.sp .page5 h3 img {
	width: 164px;
	height: auto;
}
.sp .page5 .txt01 img {
	width: 196px;
	height: auto;
}
.sp nav.pnav {
	top:8px;
	right: 8px;
}
.sp nav.pnav img {
	width: 6px;
	height: auto;
}
.sp nav.pnav li {
	line-height: 0.75;
}

/***** 20150723追記 ******/

#concept section p#reverse {
	font-size: 14px;
	font-weight: bold;
	margin: 1em 0 2em 0;
}



}


@media print {


.Forlink,
#area_select,
#fNav,
#mainVisual{
	display: none;
}

#mainVisual_print{
	display: block;
	width: 100%;
}



.hidden_p{
	display: none;
}


#contents{
	width: 100%;
}


.bnArea {
	width: 320px;
	margin: 15px 0 0 0;
	float: right;
}
.bnArea ul li {
	float: none;
	margin: 0 6px 8px 8px;
}
.bnArea ul li img {
	width: auto;
	height: 145px;
}

.information {
	width: 860px;
	height: auto;
	float: left;
	margin: 15px 0 0 40px;
}
.information h3.ttl {
	float: none;
	width: 300px;
	line-height: 0;
}
.information .list {
	float: none;
	height: auto;
	border-left: 2px solid #D8D8D8;
	padding-bottom: 0;
}
.information .list a {
	text-decoration: none;
}
.information .list a:hover {
	text-decoration: underline;
}
.information .list dl {
	margin-left: 16px;
	border-bottom: 1px solid #D8D8D8;
}
.information .list dt,.information .list dd {
	float:left;
	padding: 7px 0 6px;
}
.information .list dd.date {
	width: 140px;
}
.information .list dd.new {
	width: 47px;
	margin-top: 2px;
}
.information .list dt {
	width: 600px;
}
.information .list a {
	text-decoration: none;
}
.information .list a:hover {
	text-decoration: underline;
}

#concept section {
	width: 100%;
	margin: 0 auto;
	padding: 30px 0 50px 0;
	border-bottom: 1px solid #c7c7c7;
}

#concept section#info dt {
	width: 70%;
}

#gallery dl:nth-child(3) ,
#gallery dl:nth-child(1) {
	page-break-after: always;
}

#lineups h3 {
	margin-bottom: 15px;
	padding: 0.25em 1em;
	color: #A58B6B;
	font-size: 20px;
	background-color: #c8b9a6;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #A58B6B;
}

#graph{
	page-break-before: always;
}


#recruit {
	width: 100%;
}
#recruit p {
	margin: 2em 0 3em 0; 
	font-size: 16px;
}
#recruit dl {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e3e3e3;
}
#recruit dl#last_section {
	border-bottom: none;
}
#recruit dl dt {
	display: inline-block;
	margin-bottom: 20px;
	padding: 0.1em 0.5em 0.1em 1em;
	color: #292878;
	letter-spacing: 0.5em; 
	font-size: 18pt;
	font-weight: bold;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	border: 2px solid #292878;
}
#recruit dl dd {

}

#recruit_wrapper {
	width: 100%;
	min-height: auto;
	margin: 0 auto 0px;
	padding-bottom: 10px;
	background: transparent;
	border-bottom: 1px solid #e3e3e3;
	page-break-after: always;
}





footer .inner p.pageTop{
	display: none;
}

footer .about {
	width: auto;
}

footer .copy {
	padding:20px 0 18px 20px;
	margin-top: 35px;
	text-align: left;
	border-top: 1px solid #cccccc;
}


}


