@charset "UTF-8";

/************************************************************************
*	CSS information														*
*	file name  :  module.css											*
*	style info :  汎用スタイルの設定	レシポンシブ用							*										
************************************************************************/



/*	Clearfix
========================================== */
/* clearfix：要素の末尾でfloatを解除する */
.clearfix { *zoom: 1; }
.clearfix:after { content: ''; display: block; clear: both; }


/*	Invisible elements：要素を不可視にする
========================================== */
.hidden {
	display: none;
}


/*	Float
========================================== */
.float_l { float: left; }
.float_r { float: right; }


/*	List style
========================================== */
.disc li { list-style: disc;}
.circle li { list-style: circle;}
.decimal li { list-style: decimal;}


/* Text style
========================================== */
/* Font color */
.red { color: #F00; }

/* Font size */
.fs10 { font-size: 10px; }
.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs24 { font-size: 24px; }
.fs28 { font-size: 28px; }
.fs32 { font-size: 32px; }
.fs36 { font-size: 36px; }
.fs48 { font-size: 48px; }

/* Font weight */
.bold { font-weight: bold; }

/* Text align */
.align_l { text-align: left; }
.align_r { text-align: right; }
.align_c { text-align: center; }


/*	Margin
========================================== */
.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt65 { margin-top: 65px !important; }
.mt70 { margin-top: 70px !important; }
.mt75 { margin-top: 75px !important; }
.mt80 { margin-top: 80px !important; }
.mt85 { margin-top: 85px !important; }
.mt90 { margin-top: 90px !important; }
.mt95 { margin-top: 95px !important; }
.mt100 { margin-top: 100px !important; }

.mb0 { margin-bottom: 0 !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb65 { margin-bottom: 65px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb75 { margin-bottom: 75px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb85 { margin-bottom: 85px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb95 { margin-bottom: 95px !important; }
.mb100 { margin-bottom: 100px !important; }

.ml0 { margin-left: 0 !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }
.ml65 { margin-left: 65px !important; }
.ml70 { margin-left: 70px !important; }
.ml75 { margin-left: 75px !important; }
.ml80 { margin-left: 80px !important; }
.ml85 { margin-left: 85px !important; }
.ml90 { margin-left: 90px !important; }
.ml95 { margin-left: 95px !important; }
.ml100 { margin-left: 100px !important; }

.mr0 { margin-right: 0 !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr55 { margin-right: 55px !important; }
.mr60 { margin-right: 60px !important; }
.mr65 { margin-right: 65px !important; }
.mr70 { margin-right: 70px !important; }
.mr75 { margin-right: 75px !important; }
.mr80 { margin-right: 80px !important; }
.mr85 { margin-right: 85px !important; }
.mr90 { margin-right: 90px !important; }
.mr95 { margin-right: 95px !important; }
.mr100 { margin-right: 100px !important; }


/*	Padding
========================================== */
.pt0 { padding-top: 0 !important; }
.pt5 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt55 { padding-top: 55px !important; }
.pt60 { padding-top: 60px !important; }
.pt65 { padding-top: 65px !important; }
.pt70 { padding-top: 70px !important; }
.pt75 { padding-top: 75px !important; }
.pt80 { padding-top: 80px !important; }
.pt85 { padding-top: 85px !important; }
.pt90 { padding-top: 90px !important; }
.pt95 { padding-top: 95px !important; }
.pt100 { padding-top: 100px !important; }

.pb0 { padding-bottom: 0 !important; }
.pb5 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb55 { padding-bottom: 55px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb65 { padding-bottom: 65px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb75 { padding-bottom: 75px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb85 { padding-bottom: 85px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb95 { padding-bottom: 95px !important; }
.pb100 { padding-bottom: 100px !important; }

.pl0 { padding-top: 0 !important; }
.pl5 { padding-top: 5px !important; }
.pl10 { padding-top: 10px !important; }
.pl15 { padding-top: 15px !important; }
.pl20 { padding-top: 20px !important; }
.pl25 { padding-top: 25px !important; }
.pl30 { padding-top: 30px !important; }
.pl35 { padding-top: 35px !important; }
.pl40 { padding-top: 40px !important; }
.pl45 { padding-top: 45px !important; }
.pl50 { padding-top: 50px !important; }
.pl55 { padding-top: 55px !important; }
.pl60 { padding-top: 60px !important; }
.pl65 { padding-top: 65px !important; }
.pl70 { padding-top: 70px !important; }
.pl75 { padding-top: 75px !important; }
.pl80 { padding-top: 80px !important; }
.pl85 { padding-top: 85px !important; }
.pl90 { padding-top: 90px !important; }
.pl95 { padding-top: 95px !important; }
.pl100 { padding-top: 100px !important; }

.pr0 { padding-bottom: 0 !important; }
.pr5 { padding-bottom: 5px !important; }
.pr10 { padding-bottom: 10px !important; }
.pr15 { padding-bottom: 15px !important; }
.pr20 { padding-bottom: 20px !important; }
.pr25 { padding-bottom: 25px !important; }
.pr30 { padding-bottom: 30px !important; }
.pr35 { padding-bottom: 35px !important; }
.pr40 { padding-bottom: 40px !important; }
.pr45 { padding-bottom: 45px !important; }
.pr50 { padding-bottom: 50px !important; }
.pr55 { padding-bottom: 55px !important; }
.pr60 { padding-bottom: 60px !important; }
.pr65 { padding-bottom: 65px !important; }
.pr70 { padding-bottom: 70px !important; }
.pr75 { padding-bottom: 75px !important; }
.pr80 { padding-bottom: 80px !important; }
.pr85 { padding-bottom: 85px !important; }
.pr90 { padding-bottom: 90px !important; }
.pr95 { padding-bottom: 95px !important; }
.pr100 { padding-bottom: 100px !important; }


/*	Width
========================================== */
.w40 { width: 40px; }
.w60 { width: 60px; }
.w80 { width: 80px; }
.w100 { width: 100px; }
.w120 { width: 120px; }
.w140 { width: 140px; }
.w160 { width: 160px; }
.w180 { width: 180px; }
.w200 { width: 200px; }
.w220 { width: 220px; }
.w240 { width: 240px; }
.w260 { width: 260px; }
.w280 { width: 280px; }
.w300 { width: 300px; }
.w320 { width: 320px; }
.w340 { width: 340px; }
.w360 { width: 360px; }
.w380 { width: 380px; }
.w400 { width: 400px; }
.w420 { width: 420px; }
.w440 { width: 440px; }
.w460 { width: 460px; }
.w480 { width: 480px; }
.w500 { width: 500px; }


/* PCにのみ適応 */

@media screen and (min-width: 481px){
/*	Invisible elements：要素を不可視にする
========================================== */
.hidden_p {
	display: none;
}


/*	Float
========================================== */
.float_l_p { float: left; }
.float_r_p { float: right; }

/* Font size
========================================== */
.fs10_p { font-size: 10px !important; }
.fs12_p { font-size: 12px !important; }
.fs14_p { font-size: 14px !important; }
.fs16_p { font-size: 16px !important; }
.fs18_p { font-size: 18px !important; }
.fs20_p { font-size: 20px !important; }
.fs24_p { font-size: 24px !important; }
.fs28_p { font-size: 28px !important; }
.fs32_p { font-size: 32px !important; }
.fs36_p { font-size: 36px !important; }
.fs48_p { font-size: 48px !important; }

/* Text align */
.align_l_p { text-align: left; }
.align_r_p { text-align: right; }
.align_c_p { text-align: center; }


/*	Margin
========================================== */
.mt0_p { margin-top: 0 !important; }
.mt5_p { margin-top: 5px !important; }
.mt10_p { margin-top: 10px !important; }
.mt15_p { margin-top: 15px !important; }
.mt20_p { margin-top: 20px !important; }
.mt25_p { margin-top: 25px !important; }
.mt30_p { margin-top: 30px !important; }
.mt35_p { margin-top: 35px !important; }
.mt40_p { margin-top: 40px !important; }
.mt45_p { margin-top: 45px !important; }
.mt50_p { margin-top: 50px !important; }
.mt55_p { margin-top: 55px !important; }
.mt60_p { margin-top: 60px !important; }
.mt65_p { margin-top: 65px !important; }
.mt70_p { margin-top: 70px !important; }
.mt75_p { margin-top: 75px !important; }
.mt80_p { margin-top: 80px !important; }
.mt85_p { margin-top: 85px !important; }
.mt90_p { margin-top: 90px !important; }
.mt95_p { margin-top: 95px !important; }
.mt100_p { margin-top: 100px !important; }

.mb0_p { margin-bottom: 0 !important; }
.mb5_p { margin-bottom: 5px !important; }
.mb10_p { margin-bottom: 10px !important; }
.mb15_p { margin-bottom: 15px !important; }
.mb20_p { margin-bottom: 20px !important; }
.mb25_p { margin-bottom: 25px !important; }
.mb30_p { margin-bottom: 30px !important; }
.mb35_p { margin-bottom: 35px !important; }
.mb40_p { margin-bottom: 40px !important; }
.mb45_p { margin-bottom: 45px !important; }
.mb50_p { margin-bottom: 50px !important; }
.mb55_p { margin-bottom: 55px !important; }
.mb60_p { margin-bottom: 60px !important; }
.mb65_p { margin-bottom: 65px !important; }
.mb70_p { margin-bottom: 70px !important; }
.mb75_p { margin-bottom: 75px !important; }
.mb80_p { margin-bottom: 80px !important; }
.mb85_p { margin-bottom: 85px !important; }
.mb90_p { margin-bottom: 90px !important; }
.mb95_p { margin-bottom: 95px !important; }
.mb100_p { margin-bottom: 100px !important; }

.ml0_p { margin-left: 0 !important; }
.ml5_p { margin-left: 5px !important; }
.ml10_p { margin-left: 10px !important; }
.ml15_p { margin-left: 15px !important; }
.ml20_p { margin-left: 20px !important; }
.ml25_p { margin-left: 25px !important; }
.ml30_p { margin-left: 30px !important; }
.ml35_p { margin-left: 35px !important; }
.ml40_p { margin-left: 40px !important; }
.ml45_p { margin-left: 45px !important; }
.ml50_p { margin-left: 50px !important; }
.ml55_p { margin-left: 55px !important; }
.ml60_p { margin-left: 60px !important; }
.ml65_p { margin-left: 65px !important; }
.ml70_p { margin-left: 70px !important; }
.ml75_p { margin-left: 75px !important; }
.ml80_p { margin-left: 80px !important; }
.ml85_p { margin-left: 85px !important; }
.ml90_p { margin-left: 90px !important; }
.ml95_p { margin-left: 95px !important; }
.ml100_p { margin-left: 100px !important; }

.mr0_p { margin-right: 0 !important; }
.mr5_p { margin-right: 5px !important; }
.mr10_p { margin-right: 10px !important; }
.mr15_p { margin-right: 15px !important; }
.mr20_p { margin-right: 20px !important; }
.mr25_p { margin-right: 25px !important; }
.mr30_p { margin-right: 30px !important; }
.mr35_p { margin-right: 35px !important; }
.mr40_p { margin-right: 40px !important; }
.mr45_p { margin-right: 45px !important; }
.mr50_p { margin-right: 50px !important; }
.mr55_p { margin-right: 55px !important; }
.mr60_p { margin-right: 60px !important; }
.mr65_p { margin-right: 65px !important; }
.mr70_p { margin-right: 70px !important; }
.mr75_p { margin-right: 75px !important; }
.mr80_p { margin-right: 80px !important; }
.mr85_p { margin-right: 85px !important; }
.mr90_p { margin-right: 90px !important; }
.mr95_p { margin-right: 95px !important; }
.mr100_p { margin-right: 100px !important; }


/*	Padding
========================================== */
.pt0_p { padding-top: 0; }
.pt5_p { padding-top: 5px !important; }
.pt10_p { padding-top: 10px !important; }
.pt15_p { padding-top: 15px !important; }
.pt20_p { padding-top: 20px !important; }
.pt25_p { padding-top: 25px !important; }
.pt30_p { padding-top: 30px !important; }
.pt35_p { padding-top: 35px !important; }
.pt40_p { padding-top: 40px !important; }
.pt45_p { padding-top: 45px !important; }
.pt50_p { padding-top: 50px !important; }
.pt55_p { padding-top: 55px !important; }
.pt60_p { padding-top: 60px !important; }
.pt65_p { padding-top: 65px !important; }
.pt70_p { padding-top: 70px !important; }
.pt75_p { padding-top: 75px !important; }
.pt80_p { padding-top: 80px !important; }
.pt85_p { padding-top: 85px !important; }
.pt90_p { padding-top: 90px !important; }
.pt95_p { padding-top: 95px !important; }
.pt100_p { padding-top: 100px !important; }

.pb0_p { padding-bottom: 0; }
.pb5_p { padding-bottom: 5px !important; }
.pb10_p { padding-bottom: 10px !important; }
.pb15_p { padding-bottom: 15px !important; }
.pb20_p { padding-bottom: 20px !important; }
.pb25_p { padding-bottom: 25px !important; }
.pb30_p { padding-bottom: 30px !important; }
.pb35_p { padding-bottom: 35px !important; }
.pb40_p { padding-bottom: 40px !important; }
.pb45_p { padding-bottom: 45px !important; }
.pb50_p { padding-bottom: 50px !important; }
.pb55_p { padding-bottom: 55px !important; }
.pb60_p { padding-bottom: 60px !important; }
.pb65_p { padding-bottom: 65px !important; }
.pb70_p { padding-bottom: 70px !important; }
.pb75_p { padding-bottom: 75px !important; }
.pb80_p { padding-bottom: 80px !important; }
.pb85_p { padding-bottom: 85px !important; }
.pb90_p { padding-bottom: 90px !important; }
.pb95_p { padding-bottom: 95px !important; }
.pb100_p { padding-bottom: 100px !important; }

.pl0_p { padding-top: 0 !important; }
.pl5_p { padding-top: 5px !important; }
.pl10_p { padding-top: 10px !important; }
.pl15_p { padding-top: 15px !important; }
.pl20_p { padding-top: 20px !important; }
.pl25_p { padding-top: 25px !important; }
.pl30_p { padding-top: 30px !important; }
.pl35_p { padding-top: 35px !important; }
.pl40_p { padding-top: 40px !important; }
.pl45_p { padding-top: 45px !important; }
.pl50_p { padding-top: 50px !important; }
.pl55_p { padding-top: 55px !important; }
.pl60_p { padding-top: 60px !important; }
.pl65_p { padding-top: 65px !important; }
.pl70_p { padding-top: 70px !important; }
.pl75_p { padding-top: 75px !important; }
.pl80_p { padding-top: 80px !important; }
.pl85_p { padding-top: 85px !important; }
.pl90_p { padding-top: 90px !important; }
.pl95_p { padding-top: 95px !important; }
.pl100_p { padding-top: 100px !important; }

.pr0_p { padding-bottom: 0 !important; }
.pr5_p { padding-bottom: 5px !important; }
.pr10_p { padding-bottom: 10px !important; }
.pr15_p { padding-bottom: 15px !important; }
.pr20_p { padding-bottom: 20px !important; }
.pr25_p { padding-bottom: 25px !important; }
.pr30_p { padding-bottom: 30px !important; }
.pr35_p { padding-bottom: 35px !important; }
.pr40_p { padding-bottom: 40px !important; }
.pr45_p { padding-bottom: 45px !important; }
.pr50_p { padding-bottom: 50px !important; }
.pr55_p { padding-bottom: 55px !important; }
.pr60_p { padding-bottom: 60px !important; }
.pr65_p { padding-bottom: 65px !important; }
.pr70_p { padding-bottom: 70px !important; }
.pr75_p { padding-bottom: 75px !important; }
.pr80_p { padding-bottom: 80px !important; }
.pr85_p { padding-bottom: 85px !important; }
.pr90_p { padding-bottom: 90px !important; }
.pr95_p { padding-bottom: 95px !important; }
.pr100_p { padding-bottom: 100px !important; }


/*	Width
========================================== */
.w60_p { width: 60px; }
.w80_p { width: 80px; }
.w100_p { width: 100px; }
.w120_p { width: 120px; }
.w140_p { width: 140px; }
.w160_p { width: 160px; }
.w180_p { width: 180px; }
.w200_p { width: 200px; }
.w220_p { width: 220px; }
.w240_p { width: 240px; }
.w260_p { width: 260px; }
.w280_p { width: 280px; }
.w300_p { width: 300px; }
.w320_p { width: 320px; }
.w340_p { width: 340px; }
.w360_p { width: 360px; }
.w380_p { width: 380px; }
.w400_p { width: 400px; }
.w420_p { width: 420px; }
.w440_p { width: 440px; }
.w460_p { width: 460px; }
.w480_p { width: 480px; }
.w500_p { width: 500px; }
}


/* SmartPhoneにのみ適応 */

@media screen and (max-width: 480px){
/*	Invisible elements：要素を不可視にする
========================================== */
.hidden_sp {
	display: none;
}


/*	Float
========================================== */
.float_l_sp { float: left; }
.float_r_sp { float: right; }

/* Font size
========================================== */
.fs10_sp { font-size: 10px; }
.fs12_sp { font-size: 12px; }
.fs14_sp { font-size: 14px; }
.fs16_sp { font-size: 16px; }
.fs18_sp { font-size: 18px; }
.fs20_sp { font-size: 20px; }
.fs24_sp { font-size: 24px; }
.fs28_sp { font-size: 28px; }
.fs32_sp { font-size: 32px; }
.fs36_sp { font-size: 36px; }
.fs48_sp { font-size: 48px; }

/* Text align */
.align_l_sp { text-align: left; }
.align_r_sp { text-align: right; }
.align_c_sp { text-align: center; }


/*	Margin
========================================== */
.mt0_sp { margin-top: 0 !important; }
.mt5_sp { margin-top: 5px !important; }
.mt10_sp { margin-top: 10px !important; }
.mt15_sp { margin-top: 15px !important; }
.mt20_sp { margin-top: 20px !important; }
.mt25_sp { margin-top: 25px !important; }
.mt30_sp { margin-top: 30px !important; }
.mt35_sp { margin-top: 35px !important; }
.mt40_sp { margin-top: 40px !important; }
.mt45_sp { margin-top: 45px !important; }
.mt50_sp { margin-top: 50px !important; }
.mt55_sp { margin-top: 55px !important; }
.mt60_sp { margin-top: 60px !important; }
.mt65_sp { margin-top: 65px !important; }
.mt70_sp { margin-top: 70px !important; }
.mt75_sp { margin-top: 75px !important; }
.mt80_sp { margin-top: 80px !important; }
.mt85_sp { margin-top: 85px !important; }
.mt90_sp { margin-top: 90px !important; }
.mt95_sp { margin-top: 95px !important; }
.mt100_sp { margin-top: 100px !important; }

.mb0_sp { margin-bottom: 0 !important; }
.mb5_sp { margin-bottom: 5px !important; }
.mb10_sp { margin-bottom: 10px !important; }
.mb15_sp { margin-bottom: 15px !important; }
.mb20_sp { margin-bottom: 20px !important; }
.mb25_sp { margin-bottom: 25px !important; }
.mb30_sp { margin-bottom: 30px !important; }
.mb35_sp { margin-bottom: 35px !important; }
.mb40_sp { margin-bottom: 40px !important; }
.mb45_sp { margin-bottom: 45px !important; }
.mb50_sp { margin-bottom: 50px !important; }
.mb55_sp { margin-bottom: 55px !important; }
.mb60_sp { margin-bottom: 60px !important; }
.mb65_sp { margin-bottom: 65px !important; }
.mb70_sp { margin-bottom: 70px !important; }
.mb75_sp { margin-bottom: 75px !important; }
.mb80_sp { margin-bottom: 80px !important; }
.mb85_sp { margin-bottom: 85px !important; }
.mb90_sp { margin-bottom: 90px !important; }
.mb95_sp { margin-bottom: 95px !important; }
.mb100_sp { margin-bottom: 100px !important; }

.ml0_sp { margin-left: 0 !important; }
.ml5_sp { margin-left: 5px !important; }
.ml10_sp { margin-left: 10px !important; }
.ml15_sp { margin-left: 15px !important; }
.ml20_sp { margin-left: 20px !important; }
.ml25_sp { margin-left: 25px !important; }
.ml30_sp { margin-left: 30px !important; }
.ml35_sp { margin-left: 35px !important; }
.ml40_sp { margin-left: 40px !important; }
.ml45_sp { margin-left: 45px !important; }
.ml50_sp { margin-left: 50px !important; }
.ml55_sp { margin-left: 55px !important; }
.ml60_sp { margin-left: 60px !important; }
.ml65_sp { margin-left: 65px !important; }
.ml70_sp { margin-left: 70px !important; }
.ml75_sp { margin-left: 75px !important; }
.ml80_sp { margin-left: 80px !important; }
.ml85_sp { margin-left: 85px !important; }
.ml90_sp { margin-left: 90px !important; }
.ml95_sp { margin-left: 95px !important; }
.ml100_sp { margin-left: 100px !important; }

.mr0_sp { margin-right: 0 !important; }
.mr5_sp { margin-right: 5px !important; }
.mr10_sp { margin-right: 10px !important; }
.mr15_sp { margin-right: 15px !important; }
.mr20_sp { margin-right: 20px !important; }
.mr25_sp { margin-right: 25px !important; }
.mr30_sp { margin-right: 30px !important; }
.mr35_sp { margin-right: 35px !important; }
.mr40_sp { margin-right: 40px !important; }
.mr45_sp { margin-right: 45px !important; }
.mr50_sp { margin-right: 50px !important; }
.mr55_sp { margin-right: 55px !important; }
.mr60_sp { margin-right: 60px !important; }
.mr65_sp { margin-right: 65px !important; }
.mr70_sp { margin-right: 70px !important; }
.mr75_sp { margin-right: 75px !important; }
.mr80_sp { margin-right: 80px !important; }
.mr85_sp { margin-right: 85px !important; }
.mr90_sp { margin-right: 90px !important; }
.mr95_sp { margin-right: 95px !important; }
.mr100_sp { margin-right: 100px !important; }


/*	Padding
========================================== */
.pt0_sp { padding-top: 0; }
.pt5_sp { padding-top: 5px !important; }
.pt10_sp { padding-top: 10px !important; }
.pt15_sp { padding-top: 15px !important; }
.pt20_sp { padding-top: 20px !important; }
.pt25_sp { padding-top: 25px !important; }
.pt30_sp { padding-top: 30px !important; }
.pt35_sp { padding-top: 35px !important; }
.pt40_sp { padding-top: 40px !important; }
.pt45_sp { padding-top: 45px !important; }
.pt50_sp { padding-top: 50px !important; }
.pt55_sp { padding-top: 55px !important; }
.pt60_sp { padding-top: 60px !important; }
.pt65_sp { padding-top: 65px !important; }
.pt70_sp { padding-top: 70px !important; }
.pt75_sp { padding-top: 75px !important; }
.pt80_sp { padding-top: 80px !important; }
.pt85_sp { padding-top: 85px !important; }
.pt90_sp { padding-top: 90px !important; }
.pt95_sp { padding-top: 95px !important; }
.pt100_sp { padding-top: 100px !important; }

.pb0_sp { padding-bottom: 0; }
.pb5_sp { padding-bottom: 5px !important; }
.pb10_sp { padding-bottom: 10px !important; }
.pb15_sp { padding-bottom: 15px !important; }
.pb20_sp { padding-bottom: 20px !important; }
.pb25_sp { padding-bottom: 25px !important; }
.pb30_sp { padding-bottom: 30px !important; }
.pb35_sp { padding-bottom: 35px !important; }
.pb40_sp { padding-bottom: 40px !important; }
.pb45_sp { padding-bottom: 45px !important; }
.pb50_sp { padding-bottom: 50px !important; }
.pb55_sp { padding-bottom: 55px !important; }
.pb60_sp { padding-bottom: 60px !important; }
.pb65_sp { padding-bottom: 65px !important; }
.pb70_sp { padding-bottom: 70px !important; }
.pb75_sp { padding-bottom: 75px !important; }
.pb80_sp { padding-bottom: 80px !important; }
.pb85_sp { padding-bottom: 85px !important; }
.pb90_sp { padding-bottom: 90px !important; }
.pb95_sp { padding-bottom: 95px !important; }
.pb100_sp { padding-bottom: 100px !important; }

.pl0_sp { padding-top: 0 !important; }
.pl5_sp { padding-top: 5px !important; }
.pl10_sp { padding-top: 10px !important; }
.pl15_sp { padding-top: 15px !important; }
.pl20_sp { padding-top: 20px !important; }
.pl25_sp { padding-top: 25px !important; }
.pl30_sp { padding-top: 30px !important; }
.pl35_sp { padding-top: 35px !important; }
.pl40_sp { padding-top: 40px !important; }
.pl45_sp { padding-top: 45px !important; }
.pl50_sp { padding-top: 50px !important; }
.pl55_sp { padding-top: 55px !important; }
.pl60_sp { padding-top: 60px !important; }
.pl65_sp { padding-top: 65px !important; }
.pl70_sp { padding-top: 70px !important; }
.pl75_sp { padding-top: 75px !important; }
.pl80_sp { padding-top: 80px !important; }
.pl85_sp { padding-top: 85px !important; }
.pl90_sp { padding-top: 90px !important; }
.pl95_sp { padding-top: 95px !important; }
.pl100_sp { padding-top: 100px !important; }

.pr0_sp { padding-bottom: 0 !important; }
.pr5_sp { padding-bottom: 5px !important; }
.pr10_sp { padding-bottom: 10px !important; }
.pr15_sp { padding-bottom: 15px !important; }
.pr20_sp { padding-bottom: 20px !important; }
.pr25_sp { padding-bottom: 25px !important; }
.pr30_sp { padding-bottom: 30px !important; }
.pr35_sp { padding-bottom: 35px !important; }
.pr40_sp { padding-bottom: 40px !important; }
.pr45_sp { padding-bottom: 45px !important; }
.pr50_sp { padding-bottom: 50px !important; }
.pr55_sp { padding-bottom: 55px !important; }
.pr60_sp { padding-bottom: 60px !important; }
.pr65_sp { padding-bottom: 65px !important; }
.pr70_sp { padding-bottom: 70px !important; }
.pr75_sp { padding-bottom: 75px !important; }
.pr80_sp { padding-bottom: 80px !important; }
.pr85_sp { padding-bottom: 85px !important; }
.pr90_sp { padding-bottom: 90px !important; }
.pr95_sp { padding-bottom: 95px !important; }
.pr100_sp { padding-bottom: 100px !important; }


/*	Width
========================================== */
.w60_sp { width: 60px; }
.w70_sp { width: 70px; }
.w80_sp { width: 80px; }
.w100_sp { width: 100px; }
.w120_sp { width: 120px; }
.w140_sp { width: 140px; }
.w160_sp { width: 160px; }
.w180_sp { width: 180px; }
.w200_sp { width: 200px; }
.w220_sp { width: 220px; }
.w240_sp { width: 240px; }
.w260_sp { width: 260px; }
.w280_sp { width: 280px; }
.w300_sp { width: 300px; }
.w320_sp { width: 320px; }
.w340_sp { width: 340px; }
.w360_sp { width: 360px; }
.w380_sp { width: 380px; }
.w400_sp { width: 400px; }
.w420_sp { width: 420px; }
.w440_sp { width: 440px; }
.w460_sp { width: 460px; }
.w480_sp { width: 480px; }
.w500_sp { width: 500px; }

}
